# Database Configuration
DB_USER=postgres
DB_HOST=localhost
DB_NAME=akazuba_florist
DB_PASSWORD=0123
DB_PORT=5434

# Backend Configuration
BACKEND_URL=http://localhost:5000
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1

# Environment
NODE_ENV=development

# Frontend Configuration
NEXT_PUBLIC_JWT_SECRET=akazuba-jwt-secret-2024-development
NEXT_PUBLIC_PAYMENT_PUBLIC_KEY=akazuba-payment-public-key-2024-dev
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=akazuba-florist 