# Database Configuration
DB_USER=postgres
DB_HOST=localhost
DB_NAME=akazuba_florist
DB_PASSWORD=0123
DB_PORT=5434

# Backend Configuration
BACKEND_URL=http://localhost:5000

# Environment
NODE_ENV=development 